{% extends "@backOffice/base.html.twig" %}
{% block title %}
    NOUVELLE FACTURE FOURNISSEUR
{% endblock title %}
{% block style %}

{% endblock style %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Nouvelle Facture Fournisseur</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/index1/">Acceuil</a></li>
                            <li class="breadcrumb-item active">Nouvelle Facture Fournisseur</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Nouvelle Facture Fournisseur</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- form start -->
                                <form role="form" id="FormAdd" method="post" enctype="multipart/form-data">

                                    <div class="form-group row">
                                        <span style="color: red" >*</span>   <label>Fournisseur:</label>
                                     <select name="four" class="form-control col-md-12" >
                                         {% for f in fournisseur %}
                                         <option value="{{f.id}}">{{f.rs}}</option>
                                         {% endfor %}
                                     </select>
                                    </div>

                                    <div class="form-group">
                                        <span style="color: red" >*</span>   <label>Date:</label>
                                        <input type="date" class="form-control" name="date" >
                                    </div>

                                    <div class="form-group">
                                        <span style="color: red" >*</span>    <label>montant Total :</label>
                                        <input type="text" class="form-control" name="total" >
                                    </div>

                                    <div class="form-group">
                                        <span style="color: red" >*</span>   <label>Description :</label>
                                        <textarea class="form-control cleditor" rows="3" name="description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <span style="color: red" >*</span> <label>Pièce de joint :</label>
                                        <input type="file" name="fichier">
                                    </div>

                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-success" id="submit" >Enregistrer</button>
                                        <button type="reset" class="btn btn-danger">Annuler</button>
                                    </div>
                                </form>
                                <div id="response" style="margin-top: 10px;">

                                </div>
                                <!-- form end -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </section>
    </div>


{% endblock body %}
{% block js %}
    <script type="text/javascript" src="{{ asset('/Bundle/ST/js/jquery.popupoverlay.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/Bundle/ST/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript">
        {% if response is defined and response!="" and response!="success" %}
        $(document).ready(function () {

            noty({
                text: "{{ response }}",
                type: "error",
                theme: 'relax',
                layout: 'bottom',
                timeout: 3000,
                animation: {
                    open: 'animated flipInX',
                    close: 'animated flipOutX', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                }

            });

        });
        {% endif %}
        {% if response2 is defined and response2!="" and response2!="success" %}
        $(document).ready(function () {

            noty({
                text: "{{ response2 }}",
                type: "error",
                theme: 'relax',
                layout: 'bottom',
                timeout: 3000,
                animation: {
                    open: 'animated flipInX',
                    close: 'animated flipOutX', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                }

            });

        });
        {% endif %}
        {% if response is defined and response=="success" %}
        $(document).ready(function () {

            noty({
                text: "Opération pass avec succés",
                type: "success",
                theme: 'relax',
                layout: 'bottom',
                timeout: 3000,
                animation: {
                    open: 'animated flipInX',
                    close: 'animated flipOutX', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                }

            });

        });

        {% endif %}


    </script>
{% endblock js %}