{% extends "@backOffice/base.html.twig" %}
{% block title %}
LISTE UTILISATEUR
{% endblock title %}
{% block style %}

{% endblock style %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Utilisateurs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                            <li class="breadcrumb-item active">Utilisateurs</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">liste utilisateurs</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- form start -->

                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>nom et prenom</th>
                                            <th>tel</th>
                                            <th>email</th>
                                            <th>Nombre de commandes effectuées</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in membre %}
                                            <tr>
                                                <td>{{ p['membre'].nom }}&nbsp;{{ p['membre'].prenom }}</td>
                                                <td>{{ p['membre'].mobile }}</td>
                                                <td >{{ p['membre'].email }}</td>
                                                <td style="color: #101010;">{{ p['count'] }}</td>
                                                <td>
                                                    <a href="/update-utilisateur/?id={{ p['membre'].id }}" class="btn btn-info">Modifier</a>
                                                    <a class="btn btn-danger" onclick="deleteProduct({{ p['membre'].id }})">Supprimer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- form end -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </section>
    </div>


{% endblock body %}

{% block js %}
    <script type="text/javascript" src="{{ asset('/Bundle/ST/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>

<script>


        $("#example1").DataTable({
            "language": {
                "url": "/Bundle/ST/js/datatables/french-datatable.json"
            }
        });

        function messageUpdate(message,typeMessage) {
            noty({
                text: message,
                type: typeMessage,
                theme: 'relax',
                layout: 'bottom',
                timeout: 3000,
                animation: {
                    open: 'animated flipInX',
                    close: 'animated flipOutX', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                }

            });
        }

        function deleteProduct(id){
            noty({
                text: 'Etes vous sûr de vouloir supprimer le produit ? <br/><span style="color:red;">Attention, toutes les informations liées au produit seront supprimées (Commandes)</span> ',
                type: 'confirm',
                theme: 'relax',
                layout: 'center',
                animation: {
                    open: 'animated bounceInDown',
                    close: 'animated bounceOutUp', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                },
                buttons     : [
                    {addClass: 'btn btn-primary', text: 'Oui', onClick: function ($noty) {
                            loaderChangePage();
                            $(".fadeMe").css("visibility","visible");
                            var url = '/delete-utilisateurs/?id='+id;
                            $.ajax({
                                type: 'get',
                                url: url,
                                success: function(data){
                                    if(data.response=="OK"){
                                        window.location = "/list-utilisateurs/";
                                    }
                                    else{
                                        messageUpdate("Une erreur s'est produite","error");
                                        $("#progress").addClass("done");
                                        $(".fadeMe").css("visibility","hidden");
                                    }
                                }
                            });

                            $noty.close();

                        }
                    },
                    {addClass: 'btn btn-danger', text: 'Non', onClick: function ($noty) {
                            $noty.close();

                        }
                    }
                ]
            });
        }
    </script>
{% endblock js %}
