{% extends "@backOffice/base.html.twig" %}
{% block title %}
LISTE PRODUIT PROMOTION
{% endblock title %}
{% block style %}

{% endblock style %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Liste des produits</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/index1/">Acceuil</a></li>
                            <li class="breadcrumb-item active">Liste des produits</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Liste des produits en promotion</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <!-- form start -->

                                <!--<div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Recherche
                                            </div>

                                            <div class="panel-body">
                                                <form role="form" id="FormAdd" method="POST">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="titre" id="titre" placeholder="Titre">
                                                    </div>
                                                    <div style="text-align: center;">
                                                        <button type="submit" class="btn btn-success" id="submit">Rechercher</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>

                                    </div>

                                </div>-->

                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Ref</th>
                                            <th>Titre</th>
                                            <th>Date d'ajout</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in produits %}
                                            <tr>

                                                <td>
                                                    {% for pr in iproduits if pr.id==p.idProduit%}
                                                        {{ pr.ref }}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for pr in iproduits if pr.id==p.idProduit%}
                                                        {{ pr.titre }}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for pr in iproduits if pr.id==p.idProduit%}
                                                        {{ pr.dateAjout|date("d-m-Y") }}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <a href="/update-product-site/?id={{ p.idProduit }}" class="btn btn-info">Modifier</a>
                                                    <a class="btn btn-danger" onclick="deleteProduct({{ p.idProduit }})">Supprimer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- form end -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </section>
    </div>


{% endblock body %}

{% block js %}

    <script src="{{ asset('Bundle/ST/js/dropzone.js') }}"></script>

    <script type="text/javascript" src="{{ asset('/Bundle/ST/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>

    <script type="text/javascript">
        $("#example1").DataTable({
            "language": {
                "url": "/Bundle/ST/js/datatables/french-datatable.json"
            }});

        function messageUpdate(message,typeMessage) {
            noty({
                text: message,
                type: typeMessage,
                theme: 'relax',
                layout: 'bottom',
                timeout: 3000,
                animation: {
                    open: 'animated flipInX',
                    close: 'animated flipOutX', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                }

            });
        }

        function deleteProduct(id){
            noty({
                text: 'Etes vous sûr de vouloir supprimer le produit ? <br/><span style="color:red;">Attention, toutes les informations liées au produit seront supprimées (Devis, factures et paiement)</span> ',
                type: 'confirm',
                theme: 'relax',
                layout: 'center',
                animation: {
                    open: 'animated bounceInDown',
                    close: 'animated bounceOutUp', // jQuery animate function property object
                    easing: 'swing', // easing
                    speed: 200 // opening & closing animation speed
                },
                buttons     : [
                    {addClass: 'btn btn-primary', text: 'Oui', onClick: function ($noty) {
                            loaderChangePage();
                            $(".fadeMe").css("visibility","visible");
                            var url = '/delete-product-site/?id='+id;
                            $.ajax({
                                type: 'get',
                                url: url,
                                success: function(data){
                                    if(data.response=="OK"){
                                        location.reload();
                                    }
                                    else{
                                        messageUpdate("Une erreur s'est produite","error");
                                        $("#progress").addClass("done");
                                        $(".fadeMe").css("visibility","hidden");
                                    }
                                }
                            });

                            $noty.close();

                        }
                    },
                    {addClass: 'btn btn-danger', text: 'Non', onClick: function ($noty) {
                            $noty.close();

                        }
                    }
                ]
            });
        }
    </script>
{% endblock js %}
