<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Mes dernières consultations</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for p in article %}
                <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
                    <div class="product d-flex flex-column">
                        <a href="/produit_detail/{{ p['obj'].titre|replace({"/":"-"," ":"-" }) }}/{{ p['obj'].id }}" class="img-prod"><img class="img-fluid" src="{{ asset( p["img"] ) }}">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3">
                            <div class="d-flex">
                                <div class="cat">
                                    <span>Catégorie</span>
                                </div>
                                <div class="rating">
                                    <p class="text-right mb-0">
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    </p>
                                </div>
                            </div>
                            <h3><a href="#">{{ p["obj"].titre|slice(0,30) }}</a></h3>
                            <div class="pricing">
                                <p class="price">
                                    {% if p["obj"].prix > p["prix"] %}
                                        <span style="color:red;">{{ p["prix"] }} MAD </span>
                                        <del style="font-size: 10px;">
                                            {{ p["obj"].prix }} MAD
                                        </del>
                                    {% else %}
                                        {{ p["prix"] }} MAD
                                    {% endif %}
                                </p>
                            </div>
                            <p class="bottom-area d-flex px-3">
                                <a href="/produit_detail/{{ p['obj'].titre|replace({"/":"-"," ":"-" }) }}/{{ p['obj'].id }}" class="add-to-cart text-center py-2 mr-1">Voir le produit<span><i class="ion-ios-cart ml-1"></i></span></a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>